{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "no-shadow": "off",
    "prettier/prettier": "error",
    "max-len": ["error", 80],
    "import/prefer-default-export": "off"
  },
  "globals": {
    "assert": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  }
}
